<div class="contact">
  <p>phone | 253.302.2618</p>
  <p><a href="mailto:deb@hagemannhealthcare.com">deb@hagemannhealthcare.com</a></p>
</div>
<ul class="social">
  <li><a class="facebook" href="https://www.facebook.com/Hagemann-Healthcare-Consulting-981175531945363/?fref=ts"></a></li>
  <li><a class="twitter" href="https://twitter.com/DebHConsulting"></a></li>
  <li><a class="linkedin" href="https://www.linkedin.com/in/deb-hagemann-7892654"></a></li>
</ul>
<a class="copyright" href="{{@blog.url}}">{{@blog.title}}</a> <span class="copyright">&copy; {{date format="YYYY"}}</span>