{{!< default}}
{{> "page_header"}}

{{#is "page"}}
<h2 class="page-banner">Meet Deb</h2>
<main class="page-content">
  <img id="profile" src="{{asset 'images/Deb1.jpg'}}">
  <h3>Deb Hagemann</h3>
  <h4>FOUNDER / NATIONAL EXECUTIVE HEALTHCARE CONSULTANT</h4>
  <a class="email" href="">DEB@HAGEMANNHEALTHCARE.COM</a>

  <p>Deb Hagemann is a Registered Nurse with over 20 years of clinical managed care and clinical product design experience in the healthcare industry.</p>

  <p>Her career in managed care included senior executive roles leading medical and quality management divisions for two national health insurance companies. She also worked both domestically and internationally leading clinical product development teams for a large health and wellness company in the US.</p>

  <p>Deb lives with her husband and an adorable yellow lab, Lucy. In her spare time, she loves to travel around the U.S. and in Europe; entertain for family and friends; and enjoy all of the wonderful sights & beautiful scenery that Washington State has to offer.</p>

  <p>Hagemann Healthcare Consulting was formed in 2014 from Deb’s desire to utilize her experience to consult with customers who want to find innovative solutions in a timely manner to meet their business needs.</p>
</main>

{{/is}}