{{!< default}}
{{> "page_header"}}

{{#is "page"}}
<h2 class="page-banner">Consulting Partners</h2>
<main class="page-content">
  <p>At Hagemann Healthcare Consulting, we love putting teams of experts together to serve our clients. We can partner with independent consultants and major consulting firms, depending on our clients needs. Here you will find profiles of the experienced professionals we work with, and you can continue to check back as we are always expanding our network.</p>
  <section class="partners">
    <h3>Our Professional Partners</h3>

    <h4>TOM</h4>

    <p>Tom is a talented technology consultant and strategist, with a long history serving clients in the health and wellbeing industries. He helped lead the development of the cornerstone product for StatusOne Health Systems, which guided nurses in their work with high risk patients to capture critical clinical information and to provide a continuous quality of care. When StatusOne was purchased by Healthways, Tom helped create that firm’s first international, full-spectrum health and well-being platform for clinical call centers.</p>

    <p>He has a savvy understanding of the role of technology in modern online life and its limitations as well. He fully grasps the criticality of the clinician/patient relationship to the patient’s improvement and success, and also to technology’s capacity to both support and interfere with that relationship. His recommendations and guidance always express this balance of possibility and caution.</p>

    <p>He also brings a talent for behavioral design, drawing from the emerging insights of behavioral science. These insights inform both his system designs as well as recommendations across the whole arc of a patient’s engagement.</p>

    <p>Tom brings a lively, confident energy to his work, seeking to solve client problems with the minimum disruption to existing processes and procedures. His capacity to absorb and comprehend complexities and meet them with the right combination of technology and common sense is a welcome break from consultants who approach problems with cookie-cutter solutions.</p>

    <div class="horizontal-line"></div>

    <h4>GILLIAN</h4>

    <p>Gillian has extensive knowledge and experience in quality and population health management. With 15 years nursing experience and over a decade in quality management and clinical informatics, she has worked with hospitals, provider groups and managed health care organizations to implement and/or improve upon strategies that integrate data and technology to create efficiency, reduce gaps in care and improve outcomes for care delivery.</p>

    <p>She has a unique background and perspective that provides a ‘bridge’ from clinical business owners to the technology environment thus ensuring understanding of care delivery needs, constraints of supporting technology platforms and the need for comprehensive data management; driven and governed by quality processes within an organization, no matter the size.</p>

    <p>Gillian has a passion to improve healthcare and incorporates the fundamental goals set by IHI Triple Aim in to all of her work product:</p>

    <ul>
      <li>Improve the health of the defined population</li>
      <li>Enhance the patient care experience (including quality, access and reliability)</li>
      <li>Reduce, or at least control, the per capita cost of care</li>
    </ul>
  </section>
</main>
{{/is}}