{{!< default}}
{{> "page_header"}}
{{#is "page"}}
<h2 class="page-banner">Connect With Us</h2>
<div class="page-banner-img connect-img"></div>
<main class="page-content">
  <p class="page-commentary">We would love to hear from you! Please send us an email and we’ll get back to you within 24 business hours. Thank you for your interest in Hagemann Healthcare Consulting.</p>
  <div class="contact-form">
  {{> "contact-form"}}
  </div>
</main>
{{/is}}