{{!< default}}
{{> "page_header"}}

{{#is "page"}}
<h2 class="page-banner">What We Do</h2>
<div class="page-banner-img"></div>
<main class="page-content">
  <p class="page-commentary"> Our objective is to provide specialized, comprehensive medical management resources for health insurance companies and provider organizations, whether they have a local, regional, or national scope of influence.</p>

  <p>Our consulting areas include all components of medical management and clinical product development with a focus on the customer to optimize relationships, operations, and both clinical and financial outcomes. We focus on practical solutions and business process optimizations that can be readily applied and measured.</p>

  <h5>Utilization Management Programs</h5>

  <p>Many organizations struggle to demonstrate effectiveness externally to their customers and internally with their stakeholders.</p>

  <p>Have you heard these questions being asked in your organization?</p>

  <ul>
    <li>Is our utilization department making authorization decisions appropriately and timely?</li>
    <li>Are the members being referred to other departments and resources for needed care management and transition of care?</li>
    <li>Do we have the right staff in the right seats with the right training?</li>
    <li>Is the morale of the clinical department aligned with the culture we want in our organization?</li>
    <li>Do our reports show all the quality, operational, and financial data we need to be confident of all the work being done in the department?</li>
  </ul>

  <h5>Transitions of Care and Integrated Care Management</h5>

  <p>Workflow processes and communication of facility discharges can be a challenge in any healthcare setting.</p>

  <p><em>Transition of Care</em> is defined as providing support for a patient from one setting to another without any gaps in care. Hospitals, providers, and healthcare companies often struggle to find enough well trained  resources to successfully transition a patient to home or another facility.</p>

  <p><em>Integrated Care Management</em> is providing the care management support for all of the patient’s needs: medical, behavioral, social, and financial. Health insurance companies are working to address both behavioral health and medical needs, but there remains much work to do for some companies to have a truly integrated case management model.</p>

  <p>Do you know the answers to these questions for your company?</p>
  <ul>
    <li>What are the best ways to identify and prioritize members for case management?</li>
    <li>How many members should be under case management at any given time?</li>
    <li>Why is our readmission rate rising?</li>
    <li>What is the difference between a traditional Case Management program and an Integrated Care Management program?</li>
    <li>Are we keeping the members in our programs for the right amount of time and addressing the key issues that will influence improved health outcomes?</li>
  </ul>

  <h5>Health Home or Patient Centered Medical Home (PCMH)</h5>

  <p>Both the Health Home and PCMH models are defined by contract or accreditation requirements.  Whether it is a new implementation or ongoing management, Hagemann Healthcare Consulting can help meet your model’s  requirements.</p>

  <ul>
    <li>Are you meeting the quality and compliance guidelines for these programs?</li>
    <li>Are you reporting positive outcomes as a result of these programs?</li>
  </ul>

  <h5>Organizational Design, Mentoring, & Training</h5>

  <p>For many different reasons, the organizational design may sometimes not optimally support staff to do their best work.  There is often a lack of transparency regarding necessary information, effective training   programs, or constructive performance feedback to colleagues.</p>

  <ul>
    <li>Has there been a high rate of employee turnover or complaints to HR?</li>
    <li>Have your medical management department projects been falling behind schedule?</li>
  </ul>

  <h5>Change Management</h5>

  <p>Heraclitus once said, “The only thing that is constant is change.”  That old phrase applies to healthcare now more than ever. With the implementation of the Affordable Healthcare Act, roles and risks for   insurers, providers, and employers are changing quickly to adapt to a new environment.</p>

  <p>New products are being designed for new healthcare coverage, risk models are being changed, and providers are often overwhelmed with the increased demands due to the increasing numbers of Americans who now have  healthcare coverage.</p>

  <p>It’s a good problem to have!  Hagemann Healthcare Consulting has experience in introducing new clinical products, work approaches, software enhancements, and staffing models.</p>

  <h5>New Customer, Vendor, or Carrier Implementations</h5>

  <p>The timeline required to implement a new customer, carrier, or vendor never seems to be long enough. We can help provide project management leadership support for all areas of the medical management functions.   Hagemann Healthcare Consulting has extensive years or experience in the implementation of call centers, health plans and new customer intakes. For provider offices, having a temporary consultant who knows the  managed care industry is a valuable asset to represent your interests in the new operations with a contracted health plan.</p>


  </main>

{{/is}}