{{!< default}}
{{> "page_header"}}

{{#is "page"}}
<h2 class="page-banner">Customer Experience</h2>
<div class="page-banner-img customer-experience-img"></div>
<main class="page-content">
  <p class="page-commentary">Get to solutions, faster! Our clients may be public and private payers, provider groups, ACO’s, software vendors, community agencies, and other consulting firms.  Please <a href="/connect/">contact us</a> for more details!</p>

  <h5>We meet you where your needs are:</h5>

  <ul>
    <li>Short-term or Long-term consulting services nation-wide</li>
    <li>Interim management positions </li>
    <li>Sub-contracting services for other healthcare consulting companies</li>
  </ul>
  <h5>Benefits of working with an independent consultant:</h5>

  <ul>
    <li>Efficient processes and timelines to meet your business needs</li>
    <li>Role and project scope defined in advance with frequent updates</li>
    <li>Able to provide an independent opinion</li>
    <li>Doesn’t count toward budgeted FTE counts</li>
    <li>No costs needed for PTO, taxes or benefits</li>
    <li>Brings wealth of prior experience in varied regional and professional areas</li>
    <li>Able to work virtually and/or onsite</li>
  </ul>

  <section class="testimonials">
    <h3>Testimonials</h3>

    <p>Deb understands how to convert ideas into practical implemented solutions rapidly, yet with a sense of control and reality that ensures a successful implementation. Deb is a pleasure to work with and is a valuable asset to any organization. –GS</p>

    <p>Deb was responsible for managing a 100-colleague department with a $7.5M budget. She was there to assist with the removal of roadblocks from our day-to-day responsibilities as well as groom us to take the next step in our careers. Deb’s intelligence, hard work, and overall management skills will ensure she is a success with any position she undertakes. –IM</p>

    <p>Deb is a focused, dedicated, and committed professional who has the unique ability to take complex clinical requirements and drive the design of practical, pragmatic, and customer-focused solutions. She mixes deep technical knowledge with practical business application needs and requirements. –RA</p>

    <p>Deb is able to see the gaps in service and create products that meet the needs, deliver outcomes and maximize margin. –JP</p>

    <p>She is a visionary leader who understands the complexities of working inside a corporation and she was successful in pushing through some important initiatives. Any organization would find Deb to be well organized, level headed, calm in a crisis, and willing to discuss difficult issues.  –BT</p>

    <p>On a daily basis Deb demonstrated a very deep knowledge of healthcare.  She was able to use her knowledge to work very effectively with customers and peers.  Her positive style helped to keep the team positive and motivated during times of challenge.  –CB</p>

    <p>Deb possesses a unique blend of outstanding product expertise with a deep passion and connection to how the end user – the member – is ultimately impacted.  Deb’s style combines professionalism with approachability.  –MR</p>
  </section>
</main>

{{/is}}